
@{
    //ViewData["Title"] = "Index";
    ViewBag.Title = "Index";

}

<h1>Index</h1>

<table>

    @for (int y = 1; y < 11; y++)
    {
    <tr>
        @for (int x = 1; x < 11; x++)
        {
            <td> @(x*y) </td>
        }
    </tr>
    }

</table>