
@{
    ViewData["Title"] = "Pick Color";

    if (ViewBag.Color == null)
    {
        ViewBag.Color = "Dark";
    }
}

<h1>Pick Color</h1>

<form method="post" class="@ViewBag.Color">
    <select name="SelectedColor">
        <option value="Dark" >Dark</option>
        <option value="Light" >Light</option>
    </select>

    <input type="submit" value="Pick" class="btn btn-success" />
</form>