@model List<Car>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a asp-action="Create">Create a Car</a>

<div class="row">
    <div class="col-12">

        @foreach (Car aCar in Model)
        {
            <partial name="_OneCar" model="aCar" />
        }

    </div>
</div>


    @*@foreach (Car aCar in Model)
        {
        <tr>
            <td>@aCar.Brand</td>
            <td>@aCar.ModelName</td>
            <td>@aCar.Color</td>
        </tr>
        }*@