@model Car

<div id="@("car" + Model.Id)" class="row">
    <div class="col-4">
        @Model.Brand
    </div>
    <div class="col-4">
        @Model.ModelName
    </div>
    <div class="col-4">
        @Model.Color
    </div>
</div>